.join {
  padding: 8rem 0;
  background-color: #f3f5fa;
  &__wrapper {
    p {
      text-align: center;
      color: rgba(14, 14, 14, 0.6);
    }
    .search {
      margin-top: 3rem;
      position: relative;
      height: 50px;
      width: 100%;
      background-color: white;
      border-radius: 50px;
      input {
        margin: 1rem 1.5rem;
        height: 2.5rem;
        position: relative;
        width: 87%;
        border: 1px solid white;
      }

      span {
        height: 100%;
        width: 10%;
        background-color: $color--buttonblue;
        position: absolute;
        border-radius: 50px;
        h2 {
          font-size: 2rem;
          line-height: 2rem;
          font-size: 2rem;
          line-height: 2rem;
          text-align: center;
          align-items: center;
          padding: 1.5rem 0;
        }
      }
    }
  }
}
