.title {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #36517e;

  // .underline {
  //   border: 1px solid black;
  //width: 10%;
  //   align-items: center;
  // }
}

.link-app {
  margin-top: 1rem;
  align-items: center;

  ul li {
    display: inline-flex;
    flex-direction: column;
    background-color: #f3f5fa;
    padding: 0.8rem;
    border-radius: 100%;

    i {
      font-size: 1.5rem;
    }
  }
}
